{% extends 'base.html.twig' %}




{% block body %}
    {% for post in posts %}
    <div class="row">
        
        <div class="col-md-8 main-content mb-4">
            {% block content %}
                <h5 class="post-list-headers mb-3">
                    <a href="{{ path('blog_show', { 'date_added': post.dateAdded|date('Y/m/d'), 'slug': post.slug } ) }}">
                    {{ post.title }}
                    </a>
                </h5>
                <p class="post-list-dates"><i class="far fa-clock"></i>{{ post.dateAdded|date('d/m/Y') }}</p>
                <div class="post-list-introduction">
                    {{ post.introduction }}   
                </div>
                
                <button class="buttons float-right">
                    <a href="{{ path('blog_show', { 'date_added': post.dateAdded|date('Y/m/d'), 'slug': post.slug } ) }}">
                        Read More
                    </a>    
                </button>                
            {% endblock %}    
        </div>
        
        {% if loop.first %}
        <div class="col-md-4 side-bar">
            {% block sidebar %}
                {% if is_granted('ROLE_ADMIN') %}
                <h6>Admin Links</h6>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a class="sidebar-list-item-link" href="{{ path('blog_create') }}">
                            <i class="fas fa-angle-right"></i>Add Post
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a class="sidebar-list-item-link" href="/logout">
                            <i class="fas fa-angle-right"></i>Logout
                        </a>
                    </li>
                </ul>
                {% endif %}
                <h6>Recent Posts</h6>
                <ul class="sidebar-list">
                    {% for post in latestPosts %}
                        <li class="sidebar-list-item">
                            <a class="sidebar-list-item-link" href="{{ path('blog_show', { 'date_added':post.dateAdded|date('Y/m/d'), 'slug': post.slug }) }}">
                                <i class="fas fa-angle-right"></i>{{ post.title }}
                            </a>
                        </li>
                    {% endfor %}    
                </ul>                        
            {% endblock %}
        </div>
        {% endif %}
        
    </div>
    {% endfor %}
{% endblock %}