{% extends 'base.html.twig' %}

{% set active = 'blog' %}

{% block body %}
    {% for post in posts %}
    <div class="row">
        
        <div class="col-md-8 main-content mb-4">
            {% block content %}
                <h5 class="post-list-headers mb-3">
                    <a href="{{ path('blog_show', { 'date_added': post.dateAdded|date('Y/m/d'), 'slug': post.slug } ) }}">
                    {{ post.title }}
                    </a>
                </h5>
                <p class="post-list-dates"><i class="far fa-clock"></i>{{ post.dateAdded|date('d/m/Y') }}</p>
                <div class="post-list-introduction">
                    {{ 
                       post.introduction|striptags
                        ('<p>,<u>,<strong>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>')
                        |raw  
                    }}   
                </div>
                                
                <a href="{{ path('blog_show', { 'date_added': post.dateAdded|date('Y/m/d'), 'slug': post.slug } ) }}">
                    <button class="buttons float-right">Read More</button> 
                </a>      
            {% endblock %}    
        </div>
        
        {% if loop.first %}
        <div class="col-md-4 side-bar">
            {% block sidebar %}
                {% if is_granted('ROLE_ADMIN') %}
                <h6>Admin Links</h6>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a class="sidebar-list-item-link" href="{{ path('blog_create') }}">
                            <i class="fas fa-angle-right"></i>Add Post
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a class="sidebar-list-item-link" href="/logout">
                            <i class="fas fa-angle-right"></i>Logout
                        </a>
                    </li>
                </ul>
                {% endif %}
                
                {{ form_start(search_form, {'attr': {'id': 'search-form'}}) }}
                        
                    {{ form_widget(search_form.Search, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Search: type and hit enter'}}) }}

                {{ form_end(search_form) }}
                
                <h6>Recent Posts</h6>
                <ul class="sidebar-list">
                    {% for post in latestPosts %}
                        <li class="sidebar-list-item">
                            <a class="sidebar-list-item-link" href="{{ path('blog_show', { 'date_added':post.dateAdded|date('Y/m/d'), 'slug': post.slug }) }}">
                                <i class="fas fa-angle-right"></i>{{ post.title }}
                            </a>
                        </li>
                    {% endfor %}    
                </ul>                        
            {% endblock %}
        </div>
        {% endif %}
        
    </div>
    {% endfor %}
    
    <div class="row pagination-row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    {% if app.request.get('page') > 1 %}
                        <div class="newer-posts">
                            <a href="{{ path('blog_index', {'page': app.request.get('page') - 1}) }}">
                                Newer Posts
                            </a>
                        </div> 
                    {% endif %}
                </div>
                <div class="col-md-6 float-right">
                    {% if app.request.get('page') < number_of_pages %}
                        <div class="older-posts text-right">
                            <a href="{{ path('blog_index', {'page': app.request.get('page') + 1}) }}">
                                Older Posts
                            </a>
                        </div> 
                    {% endif %}
                </div>
            </div>
        </div>       
    </div>
    
{% endblock %}