{% extends 'base.html.twig' %}

{% set active = 'blog' %}

{% block content %}
<div class="row no-gutters">
    <div class="col-md-12">
        <h2 class="post-show-header mb-3">{{ post.title }}</h2>

        <p class="post-list-dates">
            <i class="far fa-clock"></i>
            {{ post.dateAdded|date('d/m/Y') }}
            
            {% if post.categories|length >= 1 %}
                <i class="fas fa-tags"></i>
                {% for category in post.categories %}
                    {% if not loop.last %}
                        {{ category.name }},
                    {% else %}
                        {{ category.name }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>

        <div class="post-show-introduction mb-3">
            {{ post.introduction|striptags
                ('<p>,<u>,<strong>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>')
                |raw  }}
        </div>
        <div class="post-show-body">
            {{ post.body|striptags
                ('<p>,<u>,<strong>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>')
                |raw 
            }}
        </div>
        
        <a href="{{ path('blog_index') }}">
            <button class="buttons float-right">Back to Posts</button>
        </a>        
    </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
    <hr class="mt-4">
    
    <div class="row btn-row mt-4">
        <div class="col-md-6 btn-col">
            <button class="buttons">
                <a href="{{ path('blog_edit', { 'date_added':post.dateAdded|date('Y/m/d'), 'slug': post.slug }) }}">
                    Edit Post
                </a>    
            </button>    
        </div>
        
        <div class="col-md-6 btn-col text-right">
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, {'attr': {'class': 'buttons'}}) }}
            {{ form_end(delete_form) }}        
        </div>        
    </div>
        
{% endif %}

{% endblock %}