{% extends 'base.html.twig' %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.dateAdded|date('d/m/Y') }}</p>

{{ post.body|striptags('<p>,<u>,<strong>')|raw }}

{% if is_granted('ROLE_ADMIN') %}
    
    <div class="row btn-row">
        <div class="col-md-6 btn-col">
            <button class="buttons">
                <a href="{{ path('blog_edit', { 'date_added':post.dateAdded|date('Y/m/d'), 'slug': post.slug }) }}">
                    Edit Post
                </a>    
            </button>    
        </div>
        
        <div class="col-md-6 btn-col text-right">
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, {'attr': {'class': 'buttons'}}) }}
            {{ form_end(delete_form) }}        
        </div>        
    </div>
        
{% endif %}

{% endblock %}