{% extends 'base.html.twig' %}

{% block body %}

<h1>Show Page</h1>

<p>{{ post.title }}</p>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('blog_edit', { 'slug': post.slug }) }}">Edit</a>
    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    {{ form_end(delete_form) }}    
{% endif %}

{% endblock %}