<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('stylesheets/main.css') }}">
        <link rel="stylesheet" href="{{ asset('stylesheets/responsive.css') }}">
    </head>
    <body>
        {% block navigation %}        
        <nav id="navigation">
            <div class="wrapper">
            <div class="row">
                <div class="col-md-8 col-no-padding">
                    <ul>
                        <div class="row align-items-center">
                        <div class="col-10">                        
                            <li>
                                <a href="/" id="nav-brand">Matthijs Braspenning</a>
                            </li>
                        </div>
                        <div class="col-2 text-right">
                            <li>
                                <div id="navigation-hamburger-menu">
                                    <i class="fas fa-bars"></i>
                                </div>    
                            </li>
                        </div> 
                        </div>   
                    </ul>                        
                </div>
                <div class="col-md-4 side-bar-nav">                    
                    <ul>
                        <li {% if active == 'home' %}class="nav-items-right active"{% else %}class="nav-items-right"{% endif %}>
                            <a href="/">Home</a>
                        </li>
                        <li {% if active == 'blog' %}class="nav-items-right active"{% else %}class="nav-items-right"{% endif %}>
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>    
                </div>
            </div>
            
            </div>
        </nav>
        {% endblock %} 
        
        <div class="wrapper" id="body">
        {% block body %}
            <div class="row">
                <div class="col-md-8 main-column">
                    <div class="row">
                        <div class="col-md-12 main-content">
                            {% block content %}{% endblock %}    
                        </div>
                    </div>
                </div>
                   
                <div class="col-md-4 main-column">
                    <div class="col-md-12 side-bar">
                        {% block sidebar %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <h6>Admin Links</h6>
                            <ul class="sidebar-list">
                                <li class="sidebar-list-item">
                                    <a class="sidebar-list-item-link" href="{{ path('blog_create') }}">
                                        <i class="fas fa-angle-right"></i>Add Post
                                    </a>
                                </li>
                                <li class="sidebar-list-item">
                                    <a class="sidebar-list-item-link" href="{{ path('category_create') }}">
                                        <i class="fas fa-angle-right"></i>Add Category
                                    </a>
                                </li>
                                <li class="sidebar-list-item">
                                    <a class="sidebar-list-item-link" href="/logout">
                                        <i class="fas fa-angle-right"></i>Logout
                                    </a>
                                </li>
                            </ul>
                            {% endif %}

                            {{ form_start(search_form, {'attr': {'id': 'search-form'}}) }}

                                {{ form_widget(search_form.Search, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Search: type and hit enter'}}) }}

                            {{ form_end(search_form) }}

                            <h6>Recent Posts</h6>
                            <ul class="sidebar-list">
                                {% for post in latestPosts %}
                                    <li class="sidebar-list-item">
                                        <a class="sidebar-list-item-link" href="{{ path('blog_show', { 'date_added': post.dateAdded|date('Y/m/d'), 'slug': post.slug }) }}">
                                            <i class="fas fa-angle-right"></i>{{ post.title }}
                                        </a>
                                    </li>
                                {% endfor %}    
                            </ul> 

                            <h6>Categories</h6>
                            <ul class="sidebar-list">
                                {% for category in categories %}
                                    <li class="sidebar-list-item">
                                        <a class="sidebar-list-item-link" href="{{ path('category_list', { 'name': category.name }) }}">
                                            <i class="fas fa-angle-right"></i>{{ category.name }}
                                        </a>
                                    </li>
                                {% endfor %}    
                            </ul> 
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        </div>
        
        {% block footer %}
        
        <div class="footer">
            <div class="wrapper">
                <div class="row">
                    <div class="col-12">
                        <a href="https://www.linkedin.com/in/matthijs-braspenning/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset("scripts/responsive.js") }}"></script>
        {% endblock %}
    </body>
</html>
