<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('stylesheets/main.css') }}">
    </head>
    <body>
        {% block navigation %}        
        <nav id="navigation">
            <div class="wrapper">
            <div class="row">
                <div class="col-md-8 col-no-padding">
                    <ul>
                        <li>
                            <a href="/" id="nav-brand">Matthijs Braspenning</a>
                        </li>
                    </ul>    
                </div>
                <div class="col-md-4 side-bar-nav">                    
                    <ul>
                        <li {% if active == 'home' %}class="nav-items-right active"{% else %}class="nav-items-right"{% endif %}>
                            <a href="/">Home</a>
                        </li>
                        <li {% if active == 'blog' %}class="nav-items-right active"{% else %}class="nav-items-right"{% endif %}>
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>    
                </div>
            </div>
            
            </div>
        </nav>
        {% endblock %} 
        
        <div class="wrapper">
        {% block body %}
           <div class="row">
                <div class="col-md-8 main-content">
                    {% block content %}{% endblock %}    
                </div>
                <div class="col-md-4 side-bar">
                    {% block sidebar %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <h6>Admin Links</h6>
                        <ul class="sidebar-list">
                            <li class="sidebar-list-item">
                                <a class="sidebar-list-item-link" href="{{ path('blog_create') }}">
                                    <i class="fas fa-angle-right"></i>Add Post
                                </a>
                            </li>
                            <li class="sidebar-list-item">
                                <a class="sidebar-list-item-link" href="{{ path('category_create') }}">
                                    <i class="fas fa-angle-right"></i>Add Category
                                </a>
                            </li>
                            <li class="sidebar-list-item">
                                <a class="sidebar-list-item-link" href="/logout">
                                    <i class="fas fa-angle-right"></i>Logout
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                        
                        {{ form_start(search_form, {'attr': {'id': 'search-form'}}) }}
                        
                            {{ form_widget(search_form.Search, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Search: type and hit enter'}}) }}
                        
                        {{ form_end(search_form) }}
                        
                        <h6>Recent Posts</h6>
                        <ul class="sidebar-list">
                            {% for post in latestPosts %}
                                <li class="sidebar-list-item">
                                    <a class="sidebar-list-item-link" href="{{ path('blog_show', { 'date_added':post.dateAdded|date('Y/m/d'), 'slug': post.slug }) }}">
                                        <i class="fas fa-angle-right"></i>{{ post.title }}
                                    </a>
                                </li>
                            {% endfor %}    
                        </ul> 
                        
                        <h6>Categories</h6>
                        <ul class="sidebar-list">
                            {% for category in categories %}
                                <li class="sidebar-list-item">
                                    <a class="sidebar-list-item-link" href="">
                                        <i class="fas fa-angle-right"></i>{{ category.name }}
                                    </a>
                                </li>
                            {% endfor %}    
                        </ul> 
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
